<!DOCTYPE html>
<html>
<head>
  <title>Sports Hub</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="header">
  <div style="background-color: red; width: 15%; text-align: center">
    <h1 style="color:white; height: 100%">Sports Hub</h1>
  </div>
  <div style="background-color: white; width: 55%;"></div>
  <div style="width: 29%;">
    <%= link_to "Switch", admin_layout_path %>
    <a>Profile</a>
    <a>EN</a>
  </div>
</div>
</body>
</html>
