<div class="modal fade" id="newTeamModal" tabindex="-1" role="dialog" aria-labelledby="newTeamModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newTeamModalLabel">Add Team</h5>
      </div>
      <%= form_for Teams, as: :teams, url: admin_create_sub_category_team_path, html: { method: :post } do |f| %>
        <div class="modal-body">
          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true %>
          </div><br />
          <div class="field">
            <%= f.label :location %><br />
            <input type="text" value="Teams" name="teams[location]" id="teams_location">
          </div><br />
          <%= f.hidden_field :categories_id, value: @selected_sub_category_id  %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
          <%= submit_tag 'Add', :class=>'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>