  <div class="table_block col-8 m-5">
    <div class="row">
      <div class="col-1">
        <%= link_to "Users", admin_users_path(:is_admin => false) %>
      </div>
      <div class="col-1">
        <%= link_to "Admins", admin_users_path(:is_admin => true) %>
      </div>
      <div class="col-3">
        <%= search_form_for @search, url: admin_users_path(is_admin: params[:is_admin]) do |f| %>
          <%= f.search_field :first_name_or_last_name_cont %>
        <% end %>
      </div>
      <div class="col-5"></div>
      <div class="col">
        <%= sort_link(@search, :status, 'Sort by status') %>
      </div>
    </div>
    <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
      <table class="table table-striped users_table">
        <tr>
          <td>Name</td>
          <td>Status</td>
          <td>Actions</td>
        </tr>
        <%= render @users, :locals => {:is_admin => params[:is_admin]} %>
      </table>
      <%= paginate @users %>
    </div>
  </div>
  <div class="col">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">General info</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Teams</button>
      </li>
    </ul>
    <div class="tab-content border" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row p-4">
          <div class="col align-self-start"></div>
          <div class="col align-self-center"><%= image_tag "avatar.jpg", class: "rounded-circle", style: "width: 120px" %></div>
          <div class="col align-self-end"></div>
        </div>
        <div class="row p-2">
          <div class="col ms-3">Registered</div>
          <div class="col-3">some</div>
        </div>
        <div class="row p-2">
          <div class="col ms-3">Passed Surveys</div>
          <div class="col-3">some</div>
        </div>
        <div class="row p-2">
          <div class="col ms-3">Teams</div>
          <div class="col-3">some</div>
        </div>
      </div>
      <div class="tab-pane border fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

      </div>
    </div>
  </div>