<tr>
  <td class="w-50"><%= team.name %></td>
  <% if action_name == 'index' %>
    <td class="w-50"><%= team.location %></td>
    <td class="w-50"><%= team.created_at %></td>
    <td class="w-50"><%= team.categories.parent_category.name %></td>
    <td class="w-50"><%= team.categories.name %></td>
  <% end %>
  <td><%= link_to 'Edit', edit_admin_team_path(team), :class => 'button-xs' %></td>
  <td><%= link_to 'Delete', admin_destroy_team_path(:id => team), :data => { :confirm => "Are you sure?"},
                :class => 'button-xs', :method => :delete %></td>
</tr>