<div class="navbar navbar-expand-lg">
  <div class="navbar-brand" style="background-color: red; text-align: center">
    <h2 style="color:white; height: 100%">Sports Hub</h2>
  </div>
  <div class="navbar-collapse" style="background-color: white;">
    <%= render :partial => 'common/search' if current_layout == 'application' %>
  </div>
  <div class="nav mr-auto">
    <!-- Button trigger modal -->
    <% if user_signed_in? %>
      <% if current_user.is_admin? %>
        <%= link_to "Switch", current_layout == 'admin_layout' ? root_path : admin_root_path, class: "nav-link"%>
      <% end %>
      <%= render :partial => 'users/profile_item' %>
    <% else %>
      <a class="nav-link" href="#login" data-toggle="modal" data-target="#login">Log In</a>
      <a class="nav-link" href="#signup" data-toggle="modal" data-target="#signup">Sign up</a>
      <%= render :partial => 'users/login' %>
      <%= render :partial =>  'users/signup' %>
    <% end %>
    <a class="nav-link" >EN</a>
  </div>
</div>