<div class="navbar navbar-expand-lg" style="height: 100px">
  <div class="navbar-brand h-100 w-25 text-center" style="background-color: #d72130; padding-top: 25px">
    <h3 style="color:white;">Sports Hub</h3>
  </div>
  <div class="navbar-collapse" style="background-color: white;">
    <%= render :partial => 'common/search' if current_layout == 'application' %>
  </div>
  <div class="nav mr-auto border h-100">
    <!-- Button trigger modal -->
    <% if user_signed_in? %>
      <% if current_user.is_admin? %>
        <div class="navbar-collapse align-items-center">
          <%= link_to "Switch", (controller.is_a?(Admin::BaseController)) ? root_path : admin_root_path %>
        </div>
      <% end %>
      <%= render :partial => 'common/profile_item' %>
    <% else %>
      <div class="navbar-collapse align-items-center"><%= link_to 'Log In', new_user_session_path %></div>
      <div class="navbar-collapse align-items-center"><%= link_to 'Sign up', new_user_registration_path %></div>
    <% end %>
    <select onchange="window.location=this.value">
      <% @active_locales.each do |l| %>
        <% if l.is_active %>
          <option value="?locale=<%= l.locale_name %>" <%= current_locale == l.locale_name ? 'selected' : '' %>>
            <%= l.locale_name %>
          </option>
        <% end %>
      <% end %>
    </select>
  </div>
</div>