<div class="navbar navbar-expand-lg">
  <div class="navbar-brand" style="background-color: red; text-align: center">
    <h2 style="color:white; height: 100%">Sports Hub</h2>
  </div>
  <div class="navbar-collapse" style="background-color: white;">
    <%= render :partial => 'common/search' if current_layout == 'application' %>
  </div>
  <div class="nav mr-auto">
    <!-- Button trigger modal -->
    <% if user_signed_in? %>
      <% if current_user.is_admin? %>
        <%= link_to "Switch", current_layout == 'admin_layout' ? root_path : admin_root_path, class: "nav-link"%>
      <% end %>
      <%= render :partial => 'common/profile_item' %>
    <% else %>
      <%= link_to 'Log In', user_signs_root_path %>
      <%= link_to 'Sign up', user_signs_sign_up_path %>
    <% end %>
    <a class="nav-link" >EN</a>
  </div>
</div>