<!DOCTYPE html>
<html>
  <head>
    <title>Sports Hub - Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_link_tag 'app/views/layouts/admin.html.erb', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="margin: 0">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container-xl">
      <%= render :partial => 'common/header' %>
      <div class="row" style="border: 2px solid black">
        <div class="titleName col-10">Title</div>
        <div class="col-2">new+</div>
      </div>
      <div class="row menuTitle">
        <h1>Users</h1>
      </div>
      <div class="row">
        <div class="navigation col-2">
          <a>Navigation</a>
        </div>
        <div class="management col" style="height: 500px; border:1px solid black">
          <%= yield :admin_content %>
        </div>
      </div>
    </div>
  </body>
</html>
