<!DOCTYPE html>
<html>
  <head>
    <title>Sports Hub - Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if controller_name == 'categories' %>
      <%= javascript_pack_tag 'category' %>
    <% end -%>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>

  <body style="margin: 0">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container-xl p-0 w-100">
      <%= render :partial => 'common/header' %>
      <%= render :partial => 'title_new' %>
      <%= render :partial => 'admin/categories_header' %>
      <div class="row m-0">
        <div class="h-100 icon-container w-auto">
          <div class="list-group m-2 align-items-center">
            <i class="bi bi-check2-circle icon-nav"></i>
            <i class="bi bi-card-text icon-nav"></i>
            <%= link_to admin_languages_path, class: 'icon-nav' do %><i class="bi bi-globe"></i><% end %>
            <i class="bi bi-square icon-nav"></i>
            <i class="bi bi-share icon-nav"></i>
            <%= link_to admin_root_path, class: 'icon-nav' do %><i class="bi bi-person"></i><% end %>
            <%= link_to admin_categories_path, class: 'icon-nav' do %><i class="bi bi-diagram-3"></i><% end %>
            <i class="bi bi-people icon-nav"></i>
            <i class="bi bi-briefcase icon-nav"></i>
            <i class="bi bi-megaphone icon-nav"></i>
          </div>
        </div>
        <div class="col row p">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
