<!DOCTYPE html>
<html>
  <head>
    <title>Sports Hub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'common/header' %>
    <div class="user_content">
      <div style="width: 20%;">
      </div>
      <div style="width: 79%;">
        <%= yield :user_content %>
      </div>
    </div>
  </body>
</html>
